@model ThesisDB.Models.Thesis

@{
    ViewData["Title"] = "Datensatz löschen";
}

<h1>Datensatz löschen</h1>
<h3>Sind Sie sicher, dass der Datensatz gelöscht werden soll?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.LastModified)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            Studiengang
        </dt>
        <dd class="col-sm-9 mb-2">
            @Html.DisplayFor(model => model.Programme.Name)
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            Student/-in
        </dt>
        <dd class="col-sm-9 mb-2">
            <a href="mailto:@Model.Student.Email">@Model.Student.LastName, @Model.Student.FirstName (@Model.Student.MatriculationNumber)</a>
        </dd>
        <dt class="col-sm-3 fw-bold mb-2">
            Betreuer/-in
        </dt>
        <dd class="col-sm-9 mb-2">
            <a href="mailto:@Model.Supervisor.Email">@Model.Supervisor.LastName, @Model.Supervisor.FirstName</a>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Löschen" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zurück zur Liste</a>
    </form>
</div>
